* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2em;
}

.App,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

ul li {
  list-style-type: none;
}

.Card {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 50%;
}

details:hover {
  color: var(--secondary);
}

.App > h1 {
  padding: var(--block-spacing-vertical);
  --typography-spacing-vertical: 0;
}

button {
  width: 10em;
}

@media screen and (max-width: 600px) {
  img {
    width: 80px;
    height: 80px;
  }

  h1 {
    font-size: 28px;
  }
}
